html.theme-dark .chart-page,
html.theme-dark .group-wWM3zP_M-,
html.theme-dark .drawingToolbar-U3_QXRof-,
html.theme-dark .group-2JyOhh7Z-,
html.theme-dark .chart-controls-bar {
    background-color: #252C40;
}

.chart-container {
    border-right: none !important;
    border-bottom: none !important;
    border-top-color: #394362 !important;
    border-left-color: #394362 !important;
}