@import "vars";

html,
body {
  height: 100vh;
  width: 100%;
  overflow: auto;
}

.tm-theme {
  min-width: 1200px;
  height: 100%;
}

body {
  font-family: $tm_font_family;
  font-size: $tm-font-size-md;
  color: $tm-gray;
  background: $tm-dark-blue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bp3-navbar,
.bp3-navbar-group {
  height: $header-height-lg;
}

.tm-header .logo {
  float: left;
  width: 155px;
  height: $header-height-lg;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.main-content {
  padding-bottom: 20px;
  padding-right: 20px;
}

.sidebar-tooltip {
  display: none;
}

.tm-theme-dark {
  background: $tm-dark-blue;

  .down {
    color: $tm-red !important;
  }

  .up {
    color: $tm-green !important;
  }

  .text-center {
    text-align: center;
  }

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .arrow-down {
    display: inline-block;
    width: 10px;
    height: 5px;
    margin-left: 6px;
    background: url(../../assets/images/arrow_down_gray.svg) no-repeat center center;
    font-size: 0;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .sidebar-item {    
    padding: 30px 0 30px 2px;
    .sidebar-item-box {
      color: $tm-light-gray;
      display: flex;
      height: 40px;
      line-height: 40px;
      padding-left: 18px;
      align-items: center;
      i {
        display: inline-block;
        height: 23px;
        width: 20px;
        margin-right: 10px;
      }
    }
    &.active .sidebar-item-box,
    &:hover .sidebar-item-box {
      color: $tm_white;
      box-shadow: -2px 0 0 0 $tm_orange;
    }
  }

  .sidebar .markets-link {
    @include sidebar-link("../../assets/images/markets_icon_gray.svg", "../../assets/images/markets_icon_white.svg");
  }

  .sidebar .exchange-link {
    @include sidebar-link("../../assets/images/exchange_icon_gray.svg", "../../assets/images/exchange_icon_white.svg");
  }

  .sidebar .portfolio-link {
    @include sidebar-link("../../assets/images/portfolio_icon_gray.svg", "../../assets/images/portfolio_icon_white.svg");
  }

  .sidebar .docs-faq-link {
    @include sidebar-link("../../assets/images/docs-faq_icon_gray.svg", "../../assets/images/docs-faq_icon_white.svg");
  }

  .sidebar .switch-theme {
    color: $tm-light-gray;
    padding-left: 20px;
    margin-top: auto;
    margin-bottom: 30px;
    .bp3-control-indicator {
      width: 24px;
      height: 14px;
      background-color: transparent !important;
      border: 1px solid $tm-light-gray;
      margin-top: 3px;
      &::before {
        top: -1px;
        width: 10px;
        height: 10px;
        background-color: $tm-orange;
      }
    }
    input:checked ~ .bp3-control-indicator::before {
      left: calc(100% - 13px)
    }
  }

  .tm-header {
    .tokens-dropdown {
      color: $tm-light-gray;
      cursor: pointer;
      .arrow {
        display: inline-block;
        width: 10px;
        height: 5px;
        margin-left: 6px;
        margin-bottom: 4px;
        background: url(../../assets/images/arrow_down_gray.svg) no-repeat center center;
      }
      &:hover {
        color: $tm-white;
      }
    }

    .bp3-navbar-divider {
      height: 30px;
      margin: 0 26.5px;
      border-left: 1px solid $tm-light-blue;
    }

    .token-info {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }

    .token-tick {
      display: flex;
      flex-flow: row nowrap;
      font-size: $tm-font-size-sm;
      color: $tm-white;
      .tick {
        margin-right: 50px;
        &:last-child {
          margin-right: 0;
        }
        span {
          margin-right: 12px;
        }
      }
      .title {
        color: $tm-gray;
        margin-bottom: 5px;
      }
    }

    .utilities-menu {
      padding-right: 20px;
      .utility-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-right: 40px;
        &:last-child {
          margin-right: 0;
        }
        i {
          display: inline-block;
          width: 20px;
          height: 20px;
          font-size: 0;
        }
      }

      .support i {
        background: url(../../assets/images/support_icon_gray.svg) no-repeat center center;
        &:hover {
          background: url(../../assets/images/support_icon_white.svg) no-repeat center center;
        }
      }

      .notification i {
        background: url(../../assets/images/notification_icon_gray.svg) no-repeat center center;
        &:hover {
          background: url(../../assets/images/notification_icon_white.svg) no-repeat center center;
        }
      }

      .language {
        i {
          margin-right: 7px;
          background: url(../../assets/images/globe_icon_gray.svg) no-repeat center center;
        }
        &:hover {
          color: $tm_white;
          i {
            background: url(../../assets/images/globe_icon_white.svg) no-repeat center center;
          }
        }
        .arrow {
          display: inline-block;
          width: 10px;
          height: 5px;
          margin-left: 10px;
          background: url(../../assets/images/arrow_down_gray.svg) no-repeat center center;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .sidebar-tooltip {
    display: block;
  }

  .tm-theme {
    .tm-header {
      .token-tick .tick,
      .utilities-menu .utility-item {
        margin-right: 20px;
      }
    }

    &.exchange-page {
      .main-container {
        grid-template-columns: 60px auto !important;
      }
      .sidebar-item {
        .sidebar-item-title {
          display: none !important;
        }
    
        &.active .sidebar-item-box,
        &:hover .sidebar-item-box {
          box-shadow: none !important;
        }
      }
      .switch-theme {
        width: 100%;
        font-size: 0;
        .bp3-control-indicator {
          float: none !important;
          margin-right: 0 !important;
          margin-left: -4px !important;
        }
      }
    }
  } 
}

@media only screen and (max-width: 1280px) {
  .bp3-navbar,
  .bp3-navbar-group {
    height: $header-height-md;
  }

  .tm-header .logo {
    height: $header-height-md;
    img {
      height: 25px !important;
      width: 25px !important;
    }
  } 
}