@import "vars";

html,
body {
  height: 100vh;
  width: 100%;
  overflow: auto;
}

.tm-theme {
  min-width: 1200px;
  height: 100%;
}

body {
  font-family: $tm_font_family;
  font-size: $tm-font-size-md;
  color: $tm-gray;
  background: $tm-dark-blue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bp3-navbar,
.bp3-navbar-group {
  height: $header-height-lg;
}

.tm-header .logo {
  float: left;
  width: 155px;
  height: $header-height-lg;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.main-content {
  padding-bottom: 20px;
  padding-right: 20px;
}

.sidebar-tooltip {
  display: none;
}

.tm-theme {
  .text-center {
    text-align: center;
  }

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .arrow-down {
    display: inline-block;
    width: 10px;
    height: 5px;
    margin-left: 6px;
    font-size: 0;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .tm-header {
    .tokens-dropdown {
      .arrow {
        display: inline-block;
        width: 10px;
        height: 5px;
        margin-left: 6px;
        margin-bottom: 4px;
      }
    }

    .bp3-navbar-divider {
      height: 30px;
      margin: 0 26.5px;
    }

    .token-info {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }

    .token-tick {
      display: flex;
      flex-flow: row nowrap;
      font-size: $tm-font-size-sm;
      .tick {
        margin-right: 50px;
        &:last-child {
          margin-right: 0;
        }
        span {
          margin-right: 12px;
        }
      }
      .title {
        margin-bottom: 5px;
      }
    }

    .utilities-menu {
      padding-right: 20px;
      .utility-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-right: 40px;
        &:last-child {
          margin-right: 0;
        }
        i {
          display: inline-block;
          width: 20px;
          height: 20px;
          font-size: 0;
        }
      }

      .language {
        i {
          margin-right: 7px;
        }

        .arrow {
          display: inline-block;
          width: 10px;
          height: 5px;
          margin-left: 10px;
        }
      }
    }
  }
}

.tm-theme-dark {
  .down {
    color: $tm-red !important;
  }

  .up {
    color: $tm-green !important;
  }

  .arrow-down {
    background: url(../../assets/images/arrow_down_gray.svg) no-repeat center center;
  }

  .sidebar .markets-link {
    @include sidebar-link("../../assets/images/markets_icon_gray.svg", "../../assets/images/markets_icon_white.svg");
  }

  .sidebar .exchange-link {
    @include sidebar-link("../../assets/images/exchange_icon_gray.svg", "../../assets/images/exchange_icon_white.svg");
  }

  .sidebar .portfolio-link {
    @include sidebar-link("../../assets/images/portfolio_icon_gray.svg", "../../assets/images/portfolio_icon_white.svg");
  }

  .sidebar .docs-faq-link {
    @include sidebar-link("../../assets/images/docs-faq_icon_gray.svg", "../../assets/images/docs-faq_icon_white.svg");
  }

  .tm-header {
    .tokens-dropdown {
      .arrow {
        background: url(../../assets/images/arrow_down_gray.svg) no-repeat center center;
      }
      &:hover {
        color: $tm-white;
      }
    }

    .bp3-navbar-divider {
      border-left: 1px solid $tm-light-blue;
    }

    .token-tick {
      color: $tm-white;
      .title {
        color: $tm-gray;
      }
    }

    .utilities-menu {
      .support i {
        background: url(../../assets/images/support_icon_gray.svg) no-repeat center center;
        &:hover {
          background: url(../../assets/images/support_icon_white.svg) no-repeat center center;
        }
      }

      .notification i {
        background: url(../../assets/images/notification_icon_gray.svg) no-repeat center center;
        &:hover {
          background: url(../../assets/images/notification_icon_white.svg) no-repeat center center;
        }
      }

      .language {
        i {
          background: url(../../assets/images/globe_icon_gray.svg) no-repeat center center;
        }
        &:hover {
          color: $tm_white;
          i {
            background: url(../../assets/images/globe_icon_white.svg) no-repeat center center;
          }
        }
        .arrow {
          background: url(../../assets/images/arrow_down_gray.svg) no-repeat center center;
        }
      }
    }
  }
}

.tm-theme-light {
  .down {
    color: $tm-red !important;
  }

  .up {
    color: $tm-green !important;
  }

  .arrow-down {
    background: url(../../assets/images/arrow_down_gray.svg) no-repeat center center;
  }

  .sidebar .markets-link {
    @include sidebar-link("../../assets/images/markets_light_gray.svg", "../../assets/images/markets_icon_gray.svg");
  }

  .sidebar .exchange-link {
    @include sidebar-link("../../assets/images/exchange_light_gray.svg", "../../assets/images/exchange_icon_gray.svg");
  }

  .sidebar .portfolio-link {
    @include sidebar-link("../../assets/images/portfolio_light_gray.svg", "../../assets/images/portfolio_icon_gray.svg");
  }

  .sidebar .docs-faq-link {
    @include sidebar-link("../../assets/images/docs-faq_light_gray.svg", "../../assets/images/docs-faq_icon_gray.svg");
  }

  .tm-header {
    .tokens-dropdown {
      .arrow {
        background: url(../../assets/images/arrow_down_gray.svg) no-repeat center center;
      }
      &:hover {
        color: $tm-white;
      }
    }

    .bp3-navbar-divider {
      border-left: 1px solid $tm-light-blue;
    }

    .token-tick {
      color: $tm-white;
      .title {
        color: $tm-gray;
      }
    }

    .utilities-menu {
      .support i {
        background: url(../../assets/images/support_icon_gray.svg) no-repeat center center;
        &:hover {
          background: url(../../assets/images/support_icon_white.svg) no-repeat center center;
        }
      }

      .notification i {
        background: url(../../assets/images/notification_icon_gray.svg) no-repeat center center;
        &:hover {
          background: url(../../assets/images/notification_icon_white.svg) no-repeat center center;
        }
      }

      .language {
        i {
          background: url(../../assets/images/globe_icon_gray.svg) no-repeat center center;
        }
        &:hover {
          color: $tm_white;
          i {
            background: url(../../assets/images/globe_icon_white.svg) no-repeat center center;
          }
        }
        .arrow {
          background: url(../../assets/images/arrow_down_gray.svg) no-repeat center center;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .sidebar-tooltip {
    display: block;
  }

  .tm-theme {
    .tm-header {
      .token-tick .tick,
      .utilities-menu .utility-item {
        margin-right: 20px;
      }
    }

    &.exchange-page {
      .main-container {
        grid-template-columns: 60px auto !important;
      }
      .sidebar-item {
        .sidebar-item-title {
          display: none !important;
        }
    
        &.active .sidebar-item-box,
        &:hover .sidebar-item-box {
          box-shadow: none !important;
        }
      }
      .switch-theme {
        width: 100%;
        font-size: 0;
        .bp3-control-indicator {
          float: none !important;
          margin-right: 0 !important;
          margin-left: -4px !important;
        }
      }
    }
  } 
}

@media only screen and (max-width: 1280px) {
  .bp3-navbar,
  .bp3-navbar-group {
    height: $header-height-md;
  }

  .tm-header .logo {
    height: $header-height-md;
    img {
      height: 25px !important;
      width: 25px !important;
    }
  } 
}