@import "vars";

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px $tm-black;
  background-color: $tm-black;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: $tm-light-blue;
}

.bp3-tab:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px $tm-light-blue;
  background-color: $tm-light-blue;
}

.loading-overlay {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

*:focus {
  outline: none !important;
}