@import "vars";
@import "mixins";

body {
  font-family: $tm_font_family;
  font-size: $tm-font-size-md;
  color: $tm-gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tm-theme-dark {
  .bp3-navbar,
  .bp3-card {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
  }

  .bp3-elevation-0 {
    box-shadow: 0 0 0 1px $tm-light-blue;
  }

  .bp3-button:not([class*="bp3-intent-"]),
  .bp3-tab {
    color: $tm-light-gray;
  }

  .bp3-running-text table th, 
  table.bp3-html-table th,
  .bp3-running-text table td, 
  table.bp3-html-table td {
    color: $tm-light-gray;
  }

  .bp3-html-select select, .bp3-select select {
    color: $tm-white;
  }

  .bp3-button.bp3-minimal.bp3-intent-primary:active, 
  .bp3-button.bp3-minimal.bp3-intent-primary.bp3-active {
    color: $tm-white;
  }

  .bp3-tab[aria-selected="true"], 
  .bp3-tab:not([aria-disabled="true"]):hover {
    color: $tm-white;
  }

  .bp3-html-select.bp3-large select, 
  .bp3-select.bp3-large select {
    font-size: $tm-font-size-md;
  }

  .sidebar .sidebar-item {    
    padding: 30px 0 30px 2px;
    span {
      color: $tm-light-gray;
      display: flex;
      height: 40px;
      line-height: 40px;
      padding-left: 18px;
      align-items: center;
      i {
        display: inline-block;
        height: 23px;
        width: 20px;
        margin-right: 10px;
      }
    }
    &.active span,
    &:hover span {
      color: $tm_white;
      box-shadow: -2px 0 0 0 $tm_orange;
    }
  }

  .sidebar .markets-link {
    @include sidebar-link("../../assets/images/markets_icon_gray.svg", "../../assets/images/markets_icon_white.svg");
  }

  .sidebar .exchange-link {
    @include sidebar-link("../../assets/images/exchange_icon_gray.svg", "../../assets/images/exchange_icon_white.svg");
  }

  .sidebar .portfolio-link {
    @include sidebar-link("../../assets/images/portfolio_icon_gray.svg", "../../assets/images/portfolio_icon_white.svg");
  }

  .sidebar .docs-faq-link {
    @include sidebar-link("../../assets/images/docs-faq_icon_gray.svg", "../../assets/images/docs-faq_icon_white.svg");
  }

  .sidebar .switch-theme {
    color: $tm-light-gray;
    padding-left: 20px;
    margin-top: auto;
    margin-bottom: 30px;
    .bp3-control-indicator {
      width: 24px;
      height: 14px;
      background-color: transparent !important;
      border: 1px solid $tm-light-gray;
      margin-top: 3px;
      &::before {
        top: -1px;
        width: 10px;
        height: 10px;
        background-color: $tm-orange;
      }
    }
    input:checked ~ .bp3-control-indicator::before {
      left: calc(100% - 13px)
    }
  }
}

// Adapting the steps package to the blueprint dark theme
.rc-steps-item-icon {
  border: 1px solid $pt-dark-divider-black !important;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 26px;
  font-size: 14px;
  margin-right: 8px;
}

.rc-steps-item-title {
  font-size: 14px;
  margin-bottom: 4px;
  color: $white !important;
  font-weight: bold;
  display: inline-block;
  padding-right: 10px;
  position: relative;
}

.rc-steps-item-wait .rc-steps-item-title {
  color: rgba(0, 0, 0, 0.43);
}

.rc-steps-item-wait .rc-steps-item-icon {
  border-color: #ccc;
  background-color: $dark-gray5 !important;
}

.rc-steps-item-process .rc-steps-item-title {
  color: rgba(0, 0, 0, 0.43);
}

.rc-steps-item-process .rc-steps-item-icon {
  background: $pt-intent-primary !important;
}

.rc-steps-item-process .rc-steps-item-title {
  color: rgba(0, 0, 0, 0.43);
}

.rc-steps-item-finish .rc-steps-item-icon {
  border-color: $pt-intent-primary !important;
  background-color: $dark-gray5 !important;
}

.rc-steps-item-finish .rc-steps-item-icon > .rc-steps-icon {
  border-color: $pt-intent-primary !important;
  color: $pt-intent-primary !important;
  background-color: $dark-gray5 !important;
  font-weight: bolder;
}

.rc-steps-item-wait .rc-steps-item-icon > .rc-steps-icon {
  color: #ccc;
}

.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -6px;
  right: -6px;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}