@import "vars";
@import "mixins";

body {
  font-family: $tm_font_family;
  font-size: $tm-font-size-md;
  color: $tm-gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bp3-navbar {
  padding: 0;
}

.bp3-navbar,
.bp3-navbar-group {
  height: 80px;
}

.tm-header .logo {
  float: left;
  width: 11%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.tm-theme-dark {
  .down {
    color: $tm-red !important;
  }

  .up {
    color: $tm-green !important;
  }

  .bp3-navbar,
  .bp3-card {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
  }

  .bp3-elevation-0 {
    box-shadow: 0 0 0 1px $tm-light-blue;
  }

  .bp3-button:not([class*="bp3-intent-"]),
  .bp3-tab {
    color: $tm-light-gray;
  }

  .bp3-running-text table th, 
  table.bp3-html-table th,
  .bp3-running-text table td, 
  table.bp3-html-table td {
    color: $tm-light-gray;
  }

  .bp3-html-select select, .bp3-select select {
    color: $tm-white;
  }

  .bp3-button.bp3-minimal.bp3-intent-primary:active, 
  .bp3-button.bp3-minimal.bp3-intent-primary.bp3-active {
    color: $tm-white;
  }

  .bp3-tab[aria-selected="true"], 
  .bp3-tab:not([aria-disabled="true"]):hover {
    color: $tm-white;
  }

  .bp3-html-select.bp3-large select, 
  .bp3-select.bp3-large select {
    font-size: $tm-font-size-md;
  }

  .sidebar .sidebar-item {    
    padding: 30px 0 30px 2px;
    span {
      color: $tm-light-gray;
      display: flex;
      height: 40px;
      line-height: 40px;
      padding-left: 18px;
      align-items: center;
      i {
        display: inline-block;
        height: 23px;
        width: 20px;
        margin-right: 10px;
      }
    }
    &.active span,
    &:hover span {
      color: $tm_white;
      box-shadow: -2px 0 0 0 $tm_orange;
    }
  }

  .sidebar .markets-link {
    @include sidebar-link("../../assets/images/markets_icon_gray.svg", "../../assets/images/markets_icon_white.svg");
  }

  .sidebar .exchange-link {
    @include sidebar-link("../../assets/images/exchange_icon_gray.svg", "../../assets/images/exchange_icon_white.svg");
  }

  .sidebar .portfolio-link {
    @include sidebar-link("../../assets/images/portfolio_icon_gray.svg", "../../assets/images/portfolio_icon_white.svg");
  }

  .sidebar .docs-faq-link {
    @include sidebar-link("../../assets/images/docs-faq_icon_gray.svg", "../../assets/images/docs-faq_icon_white.svg");
  }

  .sidebar .switch-theme {
    color: $tm-light-gray;
    padding-left: 20px;
    margin-top: auto;
    margin-bottom: 30px;
    .bp3-control-indicator {
      width: 24px;
      height: 14px;
      background-color: transparent !important;
      border: 1px solid $tm-light-gray;
      margin-top: 3px;
      &::before {
        top: -1px;
        width: 10px;
        height: 10px;
        background-color: $tm-orange;
      }
    }
    input:checked ~ .bp3-control-indicator::before {
      left: calc(100% - 13px)
    }
  }

  .tm-header {
    .tokens-dropdown {
      color: $tm-light-gray;
      cursor: pointer;
      .arrow {
        display: inline-block;
        width: 10px;
        height: 5px;
        margin-left: 6px;
        margin-bottom: 4px;
        background: url(../../assets/images/arrow_down_gray.svg) no-repeat center center;
      }
      &:hover {
        color: $tm-white;
      }
    }

    .bp3-navbar-divider {
      height: 30px;
      margin: 0 26.5px;
      border-left: 1px solid $tm-light-blue;
    }

    .token-info {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }

    .token-tick {
      display: flex;
      flex-flow: row nowrap;
      font-size: $tm-font-size-sm;
      color: $tm-white;
      .tick {
        margin-right: 50px;
        &:last-child {
          margin-right: 0;
        }
        span {
          margin-right: 12px;
        }
      }
      .title {
        color: $tm-gray;
        margin-bottom: 5px;
      }
    }

    .utilities-menu {
      .utility-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-right: 40px;
        &:last-child {
          margin-right: 0;
        }
        i {
          display: inline-block;
          width: 20px;
          height: 20px;
          font-size: 0;
        }
      }

      .support i {
        background: url(../../assets/images/support_icon_gray.svg) no-repeat center center;
        &:hover {
          background: url(../../assets/images/support_icon_white.svg) no-repeat center center;
        }
      }

      .notification i {
        background: url(../../assets/images/notification_icon_gray.svg) no-repeat center center;
        &:hover {
          background: url(../../assets/images/notification_icon_white.svg) no-repeat center center;
        }
      }

      .language {
        i {
          margin-right: 7px;
          background: url(../../assets/images/globe_icon_gray.svg) no-repeat center center;
        }
        &:hover {
          color: $tm_white;
          i {
            background: url(../../assets/images/globe_icon_white.svg) no-repeat center center;
          }
        }
        .arrow {
          display: inline-block;
          width: 10px;
          height: 5px;
          margin-left: 10px;
          background: url(../../assets/images/arrow_down_gray.svg) no-repeat center center;
        }
      }
    }
  }

  .trade-history {
    color: #fff;
    font-size: $tm-font-size-sm;
    .title {
      color: $tm-gray;
    }
  }
}

