@import "vars";

.tm-theme-dark {
  .trade-history {
    color: $tm-white;
    font-size: $tm-font-size-sm;
    .header {  
      height: 16px;    
      .title {
        color: $tm-gray;
      }
    }
    .content {
      height: calc(100% - 16px);
    }
  }

  .order-book {
    color: $tm-white;
    font-size: $tm-font-size-sm;
    display: flex;
    flex-direction: column;
    .order-book-header {
      .title {
        font-size: $tm-font-size-md;
      }
      .decimals-dropdown {
        .arrow-down {
          height: 4px;
          width: 8px;
          background-size: 100%;
          margin-bottom: 1 px;
        }
      }
      .filter-list {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 7px;
        .filter {
          display: inline-block;
          font-size: 0;
          height: 10px;
          width: 12px;
          margin-left: 13px;
          cursor: pointer;
        }
        .filter-sell {
          background: url(../../assets/images/filter_sell_icon_gray.svg) no-repeat center center;
        }
        .filter-all {
          background: url(../../assets/images/filter_all_icon_gray.svg) no-repeat center center;
          height: 16px;
        }
        .filter-buy {
          background: url(../../assets/images/filter_buy_icon_gray.svg) no-repeat center center;
        }
      }
    }

    .order-book-content {
      height: calc(100% - 20px);

      .list-header {
        height: 14px;
        margin-bottom: 10px;
      }

      .header-cell {
        color: $tm-orange;
      }

      .list-container {
        display: flex;
        flex-direction: column;
        position: relative;
        height: calc(100% - 24px);
      }

      .latest-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .latest-price .crypto {
        font-size: $tm-font-size-h3;
      }
    }
  }

  .order-book.all {
    .order-book-header .filter-list .filter-all {
      background: url(../../assets/images/filter_all_icon_orange.svg) no-repeat center center;
    }

    .order-book-content {
      .list-sell,
      .list-buy {
        height: calc((100% - 30px) / 2);
        overflow: hidden;
      } 
    }
  }

  .order-book.sell {
    .order-book-header .filter-list .filter-sell {
      background: url(../../assets/images/filter_sell_icon_orange.svg) no-repeat center center;
    }

    .order-book-content {
      .list-buy {
        display: none;
      }

      .list-sell {
        height: calc(100% - 30px);
        margin-bottom: 30px;
      }

      .latest-tick {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }

  .order-book.buy {
    .order-book-header .filter-list .filter-buy {
      background: url(../../assets/images/filter_buy_icon_orange.svg) no-repeat center center;
    }

    .order-book-content {
      .list-sell {
        display: none;
      }

      .list-buy {
        height: calc(100% - 30px);
        margin-top: 30px;
      }

      .latest-tick {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
    }
  }

  .charts-cell {
    box-shadow: 0 0 0 1px $tm-light-blue;

    .bp3-tabs {
      height: 100%;
      position: relative;
    }

    .bp3-tab {
      font-size: $tm-font-size-sm;
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }

    .bp3-tab-list {
      display: flex;
      justify-content: flex-end;
      margin-top: 5px;
      padding: 0 20px;
    }

    .bp3-tab-panel {
      margin-top: 0;
      height: calc(100% - 35px);
    }

    .bp3-tab[aria-selected=true], 
    .bp3-tab:not([aria-disabled=true]):hover {
      color: $tm-orange;
    }
  }

  .orders-table-cell {
    padding: 10px 0;
    box-shadow: 0 0 0 1px $tm-light-blue;
    font-size: $tm-font-size-sm;

    .bp3-tabs {
      height: 100%;
    }

    .bp3-tab-list {
      padding: 0 10px;
    }

    .bp3-tab-panel {
      margin-top: 0;
      padding-top: 15px;
      height: calc(100% - 19px);
    }

    .bp3-tab {
      line-height: initial;
    }

    .bp3-tab-list > *:not(:last-child) {
      margin-right: 0;
      padding-right: 50px;
    }

    .list-container {
      height: 100%;
      .header {
        box-shadow: 0 1px 0 0 $tm-light-blue;
        padding: 0 10px 10px 10px;
        .cancel-btn {
          display: flex;
          align-items: center;
          cursor: pointer;
          &:hover {
            color: $tm-orange;
            .arrow-down {
              margin-bottom: 0;
              background: url(../../assets/images/arrow_down_orange.svg) no-repeat center center;
            }
          }   
        }
      }

      .list {
        height: calc(100% - 25px);
        overflow: auto;
      }

      .order-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 45px;
        line-height: 45px;
        padding: 0 10px;
        &:nth-child(2n + 1) {
          background: #1f2538;
        }
      }
    } 
  }

  .order-form-cell {
    box-shadow: 0 0 0 1px $tm-light-blue;
    padding: 10px;
    overflow: auto;
    font-size: $tm-font-size-sm;

    .bp3-tab {
      line-height: initial;
    }

    .bp3-tab-list > *:not(:last-child) {
      margin-right: 0;
      padding-right: 40px;
    }

    .bp3-input {
      border-radius: initial;
      box-shadow: initial;
      background: $tm-black;
      color: $tm-white;
      font-size: $tm-font-size-md;
    }

    .buy-btn,
    .sell-btn {
      border-radius: initial;
      box-shadow: initial;
      margin-top: 9px;
    }

    .buy-btn {
      background: $tm-green;
    }

    .sell-btn {
      background: $tm-red;
    }

    .order-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;

      label.bp3-label {
        margin-top: -5px;
        margin-bottom: 0;
      }

      &:after {
        content: "";
        position: absolute;
        top: 5px;
        right: 50%;
        height: 80%;
        border-right: 1px solid $tm-light-blue;
      }

      .buy-side,
      .sell-side {
        width: calc(50% - 12px);
      }

      .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .base-token {
          font-size: $tm-font-size-md;
        }
      }
    }
  }
}
