@import "vars";

.tm-theme-dark {
  .orderbook-trades {
    // display: flex;
    box-shadow: 0 0 0 1px $tm-light-blue;
    padding: 10px;
    // .order-book,
    // .trade-history {
    //   width: 50%;
    // }
  }

  .trade-history {
    color: $tm-white;
    font-size: $tm-font-size-sm;
    .title {
      color: $tm-gray;
    }
  }

  .order-book {
    color: $tm-white;
    font-size: $tm-font-size-sm;
    .order-book-header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      .title {
        font-size: $tm-font-size-md;
      }
      .decimals-dropdown {
        color: $tm-gray;
      }
      .filter-list {
        display: flex;
        flex-flow: row nowrap;
        .filter {
          display: inline-block;
          font-size: 0;
          height: 10px;
          width: 12px;
          margin-left: 13px;
        }
        .filter-sell {
          background: url(../../assets/images/filter_sell_icon_gray.svg) no-repeat center center;
        }
        .filter-all {
          background: url(../../assets/images/filter_all_icon_gray.svg) no-repeat center center;
        }
        .filter-buy {
          background: url(../../assets/images/filter_buy_icon_gray.svg) no-repeat center center;
        }
      }
    }
    .order-book-content {
      .header-cell {
        color: $tm-orange;
      }
    }
  }
}
